<h1>Showing article details </h1>
<p><strong>Title: <%= @article.title%> </strong></p>
<p><strong>Description: <%= @article.description %> </strong></p>
By <%= @article.user.username if @article.user %>
<% if logged_in? && (@article.user == current_user || current_user.admin?) %>
  <%= link_to 'Edit', edit_article_path(@article)%> |
  <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: 'Are you sure'}%> |
<% end %>
<%= link_to 'Return to articles listing', articles_path%> |
